:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --font-family: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--font-family);
  line-height: 1.1;
}

.container {
  max-width: 1284px;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}

.header__img {
  margin: 3rem 0;
}
.header__img img {
  margin: 0 auto;
}

.group__text {
  text-align: center;
}

.group__text h1 {
  font-weight: 900;
  color: var(--slate-900);
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

.group__text p {
  font-size: 1rem;
  color: var(--slate-600);
  line-height: 1.5;
  font-weight: 500;
  margin: 1.5rem 0;
}

.group__down {
  background-color: var(--cyan-600);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
}

.version{
  /* color: var(--cyan-300); */
  color: #71C0D4;
  margin-left: 3px;
}


.group__down:hover  {
  background-color: var(--cyan-300);
}

.group__is{
  background-color: var(--purple-600);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 1rem;
}

.group__is:hover{
  background-color: var(--purple-300);
}

.row__foto{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(147.5px, 1fr));
}
.row__foto img{
  border-radius: 5px;
}


