:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --font-family: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 16px;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--font-family);
  line-height: 1.1;
}

.container {
  max-width: 1284px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.header__img {
  margin: 3rem 0;
}
.header__img img {
  margin: 0 auto;
}

.group {
  position: relative;
  overflow: hidden;
}

.group__picture {
  /* position: absolute;  */
  /* display: block; */
  padding-bottom: 3rem;
  padding-top: 4rem;
  /* transform-origin: center; */
}
.group__img__left {
  display: none;
}
.group__img__right {
  display: none;
}

.group__img__hero {
  transform: scale(1.3);
}

.group__text {
  /* margin-top: 4rem; */
  text-align: center;
}

.group__text h1 {
  font-weight: 900;
  color: var(--slate-900);
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

.group__text p {
  font-size: 1rem;
  color: var(--slate-600);
  line-height: 1.5;
  font-weight: 500;
  margin: 1.5rem 0;
}

.group__down {
  background-color: var(--cyan-600);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
}

.version {
  /* color: var(--cyan-300); */
  color: #71c0d4;
  margin-left: 3px;
}

.group__down:hover {
  background-color: var(--cyan-300);
}

.group__is {
  background-color: var(--purple-600);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 1rem;
}

.group__is:hover {
  background-color: var(--purple-300);
}

.row__foto {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(147.5px, 1fr));
  margin: 4rem 0;
}
.row__foto img {
  border-radius: 5px;
}

.build__text {
  max-width: 544px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.build__text__span {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);
  color: var(--cyan-600);
  font-weight: 900;
  letter-spacing: 4px;
}

.build__text h2 {
  font-weight: 900;
  color: var(--slate-900);
  font-size: clamp(2rem, calc(3vw + 0.5rem), 2.5rem);
  margin: 1rem 0 2rem 0;
}

.build__text p {
  font-size: 1rem;
  color: var(--slate-600);
  font-weight: 500;
}

footer {
  height: 320px;
  background-position: center;
  background: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
    url("../assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  margin-top: 5rem;
}

.footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  color: white;
  padding-top: 1rem;
}

.footer h2 {
  font-weight: 900;
  font-size: clamp(2rem, calc(3vw + 0.5rem), 2.5rem);
  margin: 1rem 0 2rem 0;
}

.footer p {
  font-size: 1rem;
  font-weight: 500;
}

.footer__button {
  display: flex;
  width: auto;
  background-color: var(--purple-600);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.75rem;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 1rem;
  justify-self: center;
}
.footer__button:hover {
  background-color: #b18bdd;
}

.footer__button span {
  margin-left: 5px;
  color: var(--purple-300);
}

@media (min-width: 33em) {
  .row__foto {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
  }

  footer{
    background: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
    url("../assets/tablet/image-footer.jpg");
  }
}

@media (min-width: 48em) {
  footer{
    background: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
    url("../assets/desktop/image-footer.jpg");
  }


}

@media (min-width: 62em){

  footer{
    display: flex;
    align-items: center;

  }
  .footer{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .group__img__left{
    position: absolute;
    left: -5rem;
    display: block;
  }
  .group__img__right{
    position: absolute;
    right: -5rem;
    display: block;
  }

  .group__img__hero{
    display: none;
  }

  .group__text{
    width: 28rem;
    margin: 0 auto;
  }  
}

@media (min-width: 75em){
  .group__img__left{
    left: 0;
  }
  .group__img__right{
    right: 0;
  }
}


@media (min-width: 90em){
  .group__img__left{
    left: 5rem;
  }
  .group__img__right{
    right: 5rem;
  }

}

